# Ignore virtual environment directory
venv/
linEnv/

# Environment variables
.env

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore IDE/editor configurations
.idea/
.vscode/

# Ignore macOS Finder attributes
.DS_Store

# Ignore any other unnecessary files or directories
terminal/data/*
backend/ai_methods/local_ai/*