# Ignore virtual environment directory
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore IDE/editor configurations
.idea/
.vscode/

# Ignore macOS Finder attributes
.DS_Store

# Ignore any other unnecessary files or directories
