# Enforce LF line endings for text files
*.js text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.html text eol=lf
*.css text eol=lf

# You can specify other file types as needed
*.txt text eol=lf

# Normalize all text files to LF
* text=auto eol=lf
