# Ignore virtual environment directory
venv/
linEnv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore IDE/editor configurations
.idea/
.vscode/

# Ignore macOS Finder attributes
.DS_Store

# Ignore current model directory (for now assuming dynamic ai)
backend/ai/*

# Ignore any other unnecessary files or directories

terminal/data/*